:root {
    --color1: #303841;
    --color2: #3A4750;
    --color3: #EA9215;
    --color4: #EEEEEE;
}

body {
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color4);
}

.main {
    margin: auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.left {
    position: relative;
    top: 75px;
    width: 300px;
    height: 500px;
    background-color: var(--color1);
    border-radius: 10px;
}

.right {
    width: 800px;
    height: 800px;
}

.navbar {
    height: 50px;
    background-color: var(--color1);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 5px solid var(--color3);
}

.about {
    height: 700px;
    margin-top: 20px;
    background-color: var(--color1);
    border-radius: 10px;
    
}

.content {
    padding: 20px;
    text-align: center;
}

.profile_image {
    max-width: 150px;
    position: relative;
    top: -90px;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid var(--color3);
}

.left_content {
    position: relative;
    top: -90px;
}

.left_content_space {
    background-color: var(--color2);
    display: flex;
    gap: 10px;
    justify-content: start;
    
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid var(--color3);
    text-align: center;
}

.left_content_icon {
    color: var(--color3);
    font-size: 2rem;
    width: 50px;
}

.left_content_item {
    align-content: center;
}