:root {
    --color1: #303841;
    --color2: #3A4750;
    --color3: #EA9215;
    --color4: #EEEEEE;
}

body {
    background-color: var(--color2);
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color4);
}

.main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.left {
    position: relative;
    top: 75px;
    width: 300px;
    height: 580px;
    background-color: var(--color1);
    border-radius: 10px;
}

.right {
    width: 800px;
    height: 800px;
}

.navbar {
    height: 50px;
    background-color: var(--color1);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 5px solid var(--color3);
}

.about {
    height: 700px;
    margin-top: 20px;
    background-color: var(--color1);
    border-radius: 10px;
    
}

.content {
    padding: 20px;
    text-align: center;
}

.profile_image {
    max-width: 150px;
    position: relative;
    top: -95px;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid var(--color3);
}

.left_content {
    position: relative;
    top: -90px;
}

.left_content_space {
    background-color: var(--color2);
    display: flex;
    gap: 10px;
    justify-content: start;
    
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid var(--color3);
    text-align: center;
}

.left_content_title {
    color: var(--color3);
}

.left_content_icon {
    color: var(--color3);
    font-size: 2rem;
    width: 50px;
}

.left_content_item {
    align-content: center;
}





.button {
    background-color: var(--color2);
    position: relative;
    top: 20px;
    padding: 16px 30px;
    font-size: 1rem;
    color: var(--color3);
    border: 2px solid var(--color3);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
  }
  
  .button:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color3);
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color3);
    z-index: -1;
    transform: scale(0);
    transition: 0.3s;
  
  }
  
  .button:hover::before {
    transform: scale(1);
    transition-delay: 0.2s;
    box-shadow: 0 0 10px var(--color3),
    0 0 30px var(--color3),
    0 0 60px var(--color3);
  }